data/figures/*
!data/figures/examples
data/parameters/*
!data/parameters/examples
data/images/*
!data/images/examples
data/python/*
!data/python/examples
data/unity/*
data/unity/examples
test_for_plotting_images.ipynb/
log/*
.ipynb_checkpoints
__pycach__
.vscode
docs/build/*