#data/figures/*
!data/figures/example
#data/parameters/*
!data/parameters/example
#data/images/*
!data/images/example
#data/python/*
!data/python/example
#data/unity/*
!data/unity/example
test_for_plotting_images.ipynb/
log/*
.ipynb_checkpoints
__pycache__
.vscode
docs/build/*