data/figures/
data/dataset/*
data/python/index.txt
test_for_plotting_images.ipynb*
log/*
#**.log
*.log
server_unity_image_generation/Library/PackageCache/*
.ipynb_checkpoints*
**/__pycache__
debug_test.py
/docs/build/
.vscode
**.bin
**.ddl
/**.asset
log/python_client.log
log/python_dataset_and_client.log
log/unity.log
